img{
  max-width: 100%;
}

div{
  padding: 0;
  margin: 0;
}

.container{
  padding: 0;
}

.middle{
  padding: 0;
  margin: 0;
}

.row{
  display: block;
}

.social-row{
  background-color: red;
  padding: 0;
  margin: 0;

  ul{
    height: 100px;
  }

  li{
    display: inline-block;
    float: right;
    max-width: 10%;
  }

  img{
  height: 100px;
  width: 100px;
  }

  .social-btns{
    padding: 0;
    margin: 0;
  }
}


.top-nav-row{
  background-color: pink;
  padding: 0;
  font-size: 0;

  .nav-btns{
    padding: 0;
    margin: 0;
  }

  li{
    display: inline-block;
    width: 25%;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: blue;
    margin: 0;
  }

}

.read-more-row{

  .scroll-button{
    display: block;
  }

  .story-row{
    display: inline-block;
  }

  .story{
    // display: inline-block;
    background-color: green;
  }


}
