
/*
 * Bootstrap vars
 */
$grid-gutter-width: 10px;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/*
 * Color Pallet
 */
// $gray: #BBB;
// $light-gray: #DDD;
// $white: #FFF;

/*
 * General layout
 */
img{
  max-width: 100%;
}

.wrapper{
  background-image: url('../images/bg.jpg');

}

.social-media{
  background-color: pink;

  .btn{
    float:right;
  }
}

.top-nav{
  text-transform: uppercase;

  .btn{
    background-color: red;
  }

}


.read-more{
  // background-color: green;

  .scroll-button{
    // background-color: red;
  }

  .read-more-story{
    // background-color: grey;
  }
}

.skateboarders{
  // background-color: red;

  .profile{
    // background-color: yellow;
  }

}

.board-design{
  // background-color: white;

}

.contact-us{
  // background-color: gray;
}





// ................................
