
/*
 * Bootstrap vars
 */
$grid-gutter-width: 10px;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/*
 * Color Pallet
 */
// $gray: #BBB;
// $light-gray: #DDD;
// $white: #FFF;

/*
 * General layout
 */
img{
  max-width: 100%;
}

.wrapper{
  background-image: url('../images/bg.jpg');

}

.social-media{
  color: white;
  text-transform: uppercase;

  .btn{
    float: right;
    margin-left: 1%;
  }

  .fa-ellipsis-v{
    float: right;
    padding-top: 1%;
    margin-right: 1%;
  }

  span{
    float: right;
    padding-top: .5%;
    margin-right: 5%;
  }


}

.top-nav{
  text-transform: uppercase;

  a{
    background-color: red;
    color: white;
    // width: 100%;
  }

}

.logo{
  // for absolute children
  position: relative;
  height: 335px;
  background-image: url('../images/top-image.png');
  background-position: 5% 30%;
  // border: 10px solid white;

  img{
    // transform: scale(1.1);
    position: absolute;
    top: 15%;
    left: 5%;
    transform: scale(1.1);

  }


}

.read-more{
  // background-color: green;

  .btn{
    display: inline-block;
    background-color: white;
  }

  .scroll-button{
    // background-color: red;
    text-align: center;
  }


}

.read-more{
  background-color: blue;


  h3, h6, p, a{
    text-align: center;
  }

  a{
    display: block;
    color: red;
  }

}

.skateboarders{
  // for absolute children
  position: relative;

  h2{
    font-size: 3em;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 45%;
    left: 12%;
  }



  .profile{
    height: 500px;
    color: white;
    text-transform: uppercase;
    // border: 5px solid white;
  }

  .half{
    height: 250px;
  }


  img{
    object-fit: contain;
  }

}

.lance{
  background-image: url("../images/sk8er-4.png");
  background-size: cover;
}

.rodney{
  background-image: url("../images/sk8er-3.png");
  background-size: cover;
}

.steve{
  background-image: url("../images/sk8er-1.png");
  background-size: cover;
  background-position: 0px 60%;
}

.tommy{
  background-image: url("../images/sk8er-2.png");
  background-size: cover;
}

.board-design{
  background-color: white;
  text-align: center;

  img{
    margin: 2%;
  }
}

.contact-us{
  // background-color: gray;
}





// ................................
